<div>
	<h4>Model Id: {{@car.id}}</h4>
	<h4>Model Name: {{@car.model_name}}</h4>
	<h4>Body Type: {{@car.body_type}}</h4>
	<h4>Main Image URL: {{@car.main_img}}</h4>
	<h4>Description: {{@car.description}}</h4>
	<h4>Rating: {{@car.rating}}</h4>
</div>