<div>
	<h4>Model Id: {{@car.id}}</h4>
	<h4>Model Name: {{@car.model_name}}</h4>
	<h4>Body Type: {{@car.body_type}}</h4>
	<h4>Main Image URL: <img src="{{@car.main_img}}" alt="Boo :(" /></h4>
	<h4>Description: {{@car.description}}</h4>
	<h4>Rating: {{@car.rating}}</h4>
	{{#each @trims as | trim | }}
	<h4>Trim: {{trim.trim_name}}</h4>
	{{/each}}
</div>