<LinkTo class="links" @route="car-model-reviews" @model={{@car.id}}>
    <div class="background" style="width: fit-content; border-bottom: 1px solid gray; ">
        <div style="padding: 2%">
            <h4>{{@car.model_name}}</h4>
            {{#if (eq 'Price Coming Soon' @car.starting_price)}}
            <h6>{{@car.starting_price}}</h6>
            {{else}}
            <h6>Starting at {{@car.starting_price}}</h6>
            {{/if}}
        </div>
        <img class="main-image" src="{{@car.main_img}}" alt="{{@car.model_name}}" width="400" />
        {{#if (eq 0 @car.rating)}}
        <h4 style="text-align: center; padding: 2%">Not Rated Yet</h4>
        {{else}}
        <h4 style="text-align: center; padding: 2%">Rating: {{@car.rating}}</h4>
        {{/if}}
    </div>
</LinkTo>