<LinkTo class="links" @route="car-model-reviews" @model={{@car.id}}>
    <div class="background" style="width: fit-content; border-bottom: 1px solid #E3E3E3;">
        <h4 style="padding: 2%">{{@car.model_name}}</h4>
        <img src="{{@car.main_img}}" alt="{{@car.model_name}}" width="400"/>
        <h4 style="text-align: center; padding: 2%">Rating: {{@car.rating}}</h4>
    </div>
</LinkTo>