<LinkTo class="links" @route="car-model-reviews" @model={{@car.id}}>
    <div class="background" style="width: fit-content; margin-bottom: 1%; border: 1px solid #E3E3E3;">
        <h4 style="text-align: center;">{{@car.model_name}}</h4>
        <img src="{{@car.main_img}}" alt="{{@car.model_name}}" width="400"/>
        <h4 style="text-align: center;">Rating: {{@car.rating}}</h4>
    </div>
</LinkTo>