{{page-title "Model - " this.car.model_name}}
<div class="container" >
    <Carousel @images={{this.images}}/>

    <CarModelDetails @car={{this.car}}/>

    <h2 class="text-center">Add Review</h2>

    <ReviewForm @id={{this.car.id}} @trims={{this.trims}}/>

    {{#if this.reviews}}
    <h2 class="text-center">Reviews</h2>
    {{else}}
    <h2 class="text-center">No Reviews</h2>
    {{/if}}

    <Reviews @reviews={{this.reviews}} @trims={{this.trims}}/>
</div>
