{{page-title "Model - " car.model_name}}

<CarModelDetails @car={{car}}/>

<h2 class="text-center">Add Review</h2>

<ReviewForm @id={{car.id}}/>

{{#if reviews}}
<h2 class="text-center">Reviews</h2>
{{else}}
<h2 class="text-center">No Reviews</h2>
{{/if}}

{{#each reviews as |review|}}
    <Reviews @review={{review}}/>
{{/each}}