{{page-title "Model - " car.model_name}}
<div class="container" >
    <Carousel @images={{images}}/>

    <CarModelDetails @car={{car}}/>

    <h2 class="text-center">Add Review</h2>

    <ReviewForm @id={{car.id}} @trims={{trims}}/>

    {{#if reviews}}
    <h2 class="text-center">Reviews</h2>
    {{else}}
    <h2 class="text-center">No Reviews</h2>
    {{/if}}

    {{#each reviews as |review|}}
        <Reviews @review={{review}}/>
    {{/each}}
</div>
