{{page-title "Benzy Clubbers - Home Page"}}


<h1 style="text-align: center; border-bottom: 1px solid #E3E3E3; padding-top: 1%; max-width: 70%; margin: auto;">SUVs</h1>
<div class="container d-flex justify-content-center" style="max-width: 70%;">
    <div class="card-deck">
        {{#each this.model as |car|}}
            {{#if (eq car.body_type 'SUVs')}}
            <div class="spacing">
                <FrontPageCard @car={{car}}/>
            </div>
            {{/if}}
        {{/each}}
    </div>
</div>

<h1 style="text-align: center; border-bottom: 1px solid #E3E3E3; padding-top: 8%; max-width: 70%; margin: auto;">Sedans &amp; Wagons</h1>
<div class="container d-flex justify-content-center" style="max-width: 70%;">
    <div class="card-deck">
        {{#each this.model as |car|}}
            {{#if (eq car.body_type 'Sedans & Wagons')}}
            <div class="spacing">
                <FrontPageCard @car={{car}}/>
            </div>
            {{/if}}
        {{/each}}
    </div>
</div>

<h1 style="text-align: center; border-bottom: 1px solid #E3E3E3; padding-top: 8%; max-width: 70%; margin: auto;">Coupes</h1>
<div class="container d-flex justify-content-center" style="max-width: 70%;">
    <div class="card-deck">
        {{#each this.model as |car|}}
            {{#if (eq car.body_type 'Coupes')}}
            <div class="spacing">
                <FrontPageCard @car={{car}}/>
            </div>
            {{/if}}
        {{/each}}
    </div>
</div>

<h1 style="text-align: center; border-bottom: 1px solid #E3E3E3; padding-top: 8%; max-width: 70%; margin: auto;">Convertibles &amp; Roadsters</h1>
<div class="container d-flex justify-content-center" style="max-width: 70%;">
    <div class="card-deck">
        {{#each this.model as |car|}}
            {{#if (eq car.body_type 'Convertibles & Roadsters')}}
            <div class="spacing">
                <FrontPageCard @car={{car}}/>
            </div>
            {{/if}}
        {{/each}}
    </div>
</div>